.customDropdown {
    position: relative;
}

.dropdownLabel {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 20px;
}

.dropdownLabel::after {
    content: "\f107";
    font: var(--fa-font-solid);
    margin-left: 10px;
}

.dropdownLabel.active::after {
    content: "\f106";
    font: var(--fa-font-solid);
    margin-left: 10px;
}

.dropdownItem {
    position: absolute;
    top: 150%;
    left: 0;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 2px;
    color: black;
    list-style: none;
    padding: 15px 20px;
    white-space: nowrap;
    z-index: 2;
}

.dropdownItem li {
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

.dropdownItem li:not(:last-child) {
    padding-bottom: 20px;
}

.dropdownItem li:not(:last-child):before {
    content: '';
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgb(239, 239, 239);
    height: 1px;
}

.dropdownItem li:first-child {
    font-weight: bold;
}

.dropdownItem li:first-child:after {
    content: "\f00c";
    font: var(--fa-font-solid);
    color: green;
    margin-left: 50px;
}