.footer {
    background-color: #0C1923;
    color: white;
    padding: 70px 0 50px 0;
    position: relative;
    overflow: hidden;
}

.footerLinks .footerLinkHeading {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footerLinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerLinks ul li a {
    color: rgb(203, 203, 203);
    text-decoration: none;
    line-height: 2;
    text-transform: uppercase;
    font-size: 14px;
}

.footerSubscribeSection .footerSubscribeHeading {
    margin-bottom: 15px;

}

.footerSubscribeSection p {
    font-size: 14px;
}

.footerInputContainer {
    position: relative;
}

.footerInput {
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px 50px;
    color: white;
    box-shadow: none;
    outline: none;
}

.footerInput::placeholder {
    color: white;
}

.footerInputIcon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.footerInputBtn {
    position: absolute;
    right: 0;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
}

.footerSubscribeSection p:last-child {
    font-size: 12px;
    margin-top: 20px;
    line-height: 1.7;
}

.footer span,
.footer a {
    font-size: 14px;
}

.footer .col-12 a {
    color: white;
    margin-right: 18px;
    text-decoration: none;
}

.bgFooter1 {
    position: absolute;
    transform: scaleX(-1);
    top: -75px;
    left: -400px;
}

.bgFooter2 {
    position: absolute;
    transform: scaleX(-1);
    bottom: -300px;
    right: -275px;
}

/* Responsive */

@media only screen and (max-width: 991.5px) {
    .footer {
        padding-top: 150px;
        position: relative;
    }

    .footerLogo {
        position: absolute;
        top: 0;
    }
}

@media only screen and (max-width: 767.5px) {
    .footerLinks ul li:last-child {
        margin-bottom: 30px;
    }

    .footer .container .row:last-child {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .footer .container .row .col-lg-8 {
        margin-top: 30px;
    }

    .footer .container .row .col-lg-8 .row .col-12 span {
        display: block;
        margin-top: 10px;
    }

}